 <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <strong>Name:</strong> <%= current_user.username %><br>
<strong>Image:</strong> <img src= <%= current_user.image %>>
 <strong>Gender:</strong> <%= current_user.is_female %><br>



<% if current_user.is_female == true%>
    Female
<% else %>
   Male
<% end %>



    <div>
 <%= f.label :username %><br />
  <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <%= f.label :is_female, "Gender Type" %>

  <div> <%= f.radio_button :is_female, '1' %>(1) <%= f.label :is_female, "Female" %></div>
  <div> <%= f.radio_button :is_female, '0' %> (2)<%= f.label :is_female, "Male" %></div>
  
   
    <div><%= f.label :date_of_birth %><br />
        <%= f.date_select :date_of_birth %></div>

   

        <div>
 <%= f.label :college %><br />
  <%= f.text_field :college %>
  </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %></div>

    <div><%= f.submit "Update" %></div>
    <% end %>

    
    <%= link_to "Back", :back %>

  
