<p>
  <strong>Code:</strong>
  <%= @stock.code %>
</p>

<p>
   <strong>Name:</strong>
   <%= @stock.name %>
</p>

<p>
   <strong>Stock_type:</strong>
   <%= @stock.stock_type %>
</p>

<p>
   <strong>Current_price:</strong>
   <%= @stock.current_price %>
</p>

<p>
   <strong>Opening_price:</strong>
   <%= @stock.opening_price %>
</p>

<p>
   <strong>Day_high:</strong>
   <%= @stock.day_high %>
</p>

<p>
   <strong>Day_low:</strong>
   <%= @stock.day_low %>
</p>

<p>
   <strong>Sold_count:</strong>
   <%= @stock.sold_count %>
</p>

<p>
   <strong>Created_at:</strong>
   <%= @stock.created_at %>
</p>

<p>
   <strong>Updated_at:</strong>
   <%= @stock.updated_at %>
</p>
