<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<%= render 'layouts/header'%>
<link href="material/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">

<body>
<%= render 'layouts/navigationheader'%>
<section id="main" data-layout="layout-1">
  <%= render 'layouts/sidebar' %>
  <%= render 'layouts/chatsidebar' %>

  <section id="content">
    <div class="container">
      <%= yield %>
              <!-- Todo Lists -->
          <!-- here render todolist if u want -->

        </div>
        <!-- here render calender if u want -->
      </div>
    </div>
  </section>
</section>
<%= render 'layouts/footer' %>
</body>
</html>
